.contenedor {
    padding: 2%;
    text-align: center;
    background-color: #3a3a3a;
}

.menu-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 90%;
    height: 100%;
    border: 3px black solid;
    border-radius: 15px;
    overflow: auto;
}

/* Panel Carriles */
.btn-group {
    width: 92%;
    margin: 1.5%;
}

.btn-panel,
.btn-stats {
    margin: 1%;
    flex: 1;
}

/*  */
.boton-retroceder {
    width: 80%;
    margin: 1%;
    border: 2px solid black;
}

.item-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 16%;
    height: 160px;
    border: 1px white solid;
    margin: 2%;
    border-radius: 2%;
    background-color: rgb(31, 31, 31);
    color: white;
    cursor: pointer;
}

.item-menu img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    filter: invert(100%);
}

.text-white {
    color: white;
    margin: 40px auto;

}


/* Responsive adjustments */
@media (max-width: 1200px) {
    .item-menu {
        width: 22%;
        height: 140px;
    }

    .item-menu img {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 992px) {
    .item-menu {
        width: 30%;
        height: 120px;
    }

    .item-menu img {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 768px) {
    .item-menu {
        width: 45%;
        height: 100px;
    }

    .item-menu img {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 576px) {
    .item-menu {
        width: 90%;
        height: 150px;
    }

    .item-menu img {
        width: 50px;
        height: 50px;
    }
}